@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

* {
    font-family: 'Space Mono', monospace, sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

a:hover, a:focus {
    text-decoration: underline;
}

/*Code for sticky footer from CSS Tricks: https://css-tricks.com/couple-takes-sticky-footer/*/
html {
    height: 100%;
}

.sticky-footer-outside {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.sticky-footer-inside {
    flex: 1 0 auto;
}

.footer {
    flex-shrink: 0;
}

/*Styling for landing page*/

.landing-header {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}

.landing-header a {
    text-decoration: none;
}

.landing-links {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: center;
    margin: 0 300px;
}
/*for media query for landing link, get rid of margin??*/


/*Styling for Biscuit and Wildcard Mode pages*/

.mode-header-text a {
    text-decoration: none;
}

.site-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.nav-bar ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.nav-bar li {
    padding: 20px;
}

.active {
    text-decoration: underline;
}

.game-container {
    text-align: center;
}

.name-display, .history-display {
    display: flex;
    display: inline;
    flex-direction: row;
    align-content: center;
}

.name-display, .history-display {
    font-size: 1.5em;
}

/* Styling for Biscuit Mode page*/

.roll h3, .name-printout h4 {
    font-size: 1.25em;
}

.name-history h5 {
    font-size: 1.2em;
}

/* Styling for Wildcard Mode page*/

.name-printout h3 {
    font-size: 1.25em;
}

.name-history h4 {
    font-size: 1.2em;
}
